<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script src="js/jquery.min.js" type="text/javascript"></script>
		<script src="js/jquery-ui.min.js" type="text/javascript"></script>
		<script src="js/angular.min.js" type="text/javascript"></script>
		<script src="js/i18n/angular-locale_de-de.js" type="text/javascript"></script>
		<script src="js/bootstrap.bundle.min.js" type="text/javascript"></script>
		<script src="js/jquery.datetimepicker.full.min.js" type="text/javascript"></script>
		<script src="js/scrollglue.js" type="text/javascript"></script>
		<script src="js/sdsd.js" type="text/javascript"></script>
		<script src="js/admin.js" type="text/javascript"></script>

		<link href="css/bootstrap.css" rel="stylesheet" />
		<link href="css/jquery-ui.css" rel="stylesheet" />
		<link href="css/fontawesome.min.css" rel="stylesheet" />
		<link href="css/jquery.datetimepicker.min.css" rel="stylesheet" />

		<title>SDSD Admin Panel</title>
		<meta name="description" content="">
		<meta name="author" content="Julian Klose, Hochschule Osnabrueck">
		<link rel="shortcut icon" href="img/favicon.ico">
		<link rel="apple-touch-icon image_src" href="img/apple-touch-icon.png">
	</head>
	<body data-ng-app="sdsd" data-ng-controller="adminCtrl" data-ng-init="init()" class="container">
		<div class="row align-items-center">
			<div class="col-md-5">
				<a href="/"> <img src="img/sdsd-logo.png" class="img" style="height:143px;width:364px;" /></a>
			</div>
			<div class="col-md-4">
				<div class="alert alert-danger" data-ng-show="sdsd.message" data-ng-click="sdsd.message = null;">{{sdsd.message}}</div>
			</div>
			<div class="col-md-3">
				<h3><i class="fa fa-user"></i> Admin</h3>
				<div class="form-group" data-ng-show="!isLogin">
					<input type="password" class="form-control" id="adminpassword" autocomplete="off"
						   data-ng-model="loginPasswordInput" placeholder="password" 
						   data-ng-enter="login()" />
					<button class="btn btn-primary" data-ng-click="login()">
						<i class="fas fa-sign-in-alt"></i> Login
					</button>
				</div>
				<div class="form-group" data-ng-show="isLogin">
					<button class="btn btn-primary btn-sm float-right"
							data-ng-click="logout()">
						<i class="fas fa-sign-out-alt"></i> Logout
					</button>
				</div>
			</div>
		</div>
		
		<div data-ng-include="'template/menu.html'"></div>

		<div data-ng-show="isLogin">

			<div class="row">
				<div class="col-md-12">
					<h3>Create Account</h3>
					<div class="form-group">
						<label>Username*: </label>
						<input type="text" class="form-control" data-ng-model="createUsernameInput" 
						data-ng-enter="create()" placeholder="Username"/>
						
						<label>Email*: </label>
						<input type="text" class="form-control" data-ng-model="createEmailInput" 
						data-ng-enter="create()" placeholder="Email"/>
						
						<label>Password*: </label>
						<input type="password" class="form-control" data-ng-model="createPasswordInput" 
						data-ng-enter="create()" placeholder="Password"/>
						
						<label>Repeat password*: </label>
						<input type="password" class="form-control" data-ng-model="createPasswordRepeatInput" 
						data-ng-enter="create()" placeholder="Repeated password"/>
						
						<br/>
						<small>*Required</small>
						<br/>
						<br/>
						
						<button class="btn btn-primary" data-ng-click="create()"><i class="fa fa-sign-in"></i> Create</button>
						<span class="float-right">
							<button class="btn btn-success" data-ng-click="connectAllMqtt()" data-ng-disabled="reconnecting">
								Connect MQTT <i class="fas fa-spinner fa-spin" data-ng-show="reconnecting"></i>
							</button>
							<button class="btn btn-danger" data-ng-click="disconnectAllMqtt()" data-ng-disabled="reconnecting">
								Disconnect MQTT <i class="fas fa-spinner fa-spin" data-ng-show="reconnecting"></i>
							</button>
						</span>
						
						<div class="alert alert-success" data-ng-show="createSuccess">
							Account successful created.<br/>
							<a href="/">Back to Home</a>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<h3><i class="fa fa-file-archive-o"></i> Users</h3>
				</div>
				<div class="col-md-4">
					<input type="text" class="form-control" data-ng-model="search" />
				</div>
				<div class="col-md-4">
					<span class="float-right">
						<button class="btn btn-info btn-sm" data-ng-click="loadUserList(true)">
							<i class="fas fa-sync-alt"></i> Reload <i class="fa fa-spinner fa-spin" data-ng-show="userLoading"></i>
						</button>
					</span>
				</div>
			</div>
			<div class="row table-responsive">
				<div class="col-md-12">
					<table class="table">
						<thead>
							<tr style="white-space: nowrap;">
								<th>
									<a href="" data-ng-show="!sorting.num" data-ng-click="sort('num',true)">Num<i class="fas fa-sort-up"></i></a>
									<a href="" data-ng-show="sorting.num" data-ng-click="sort('num',false)">Num<i class="fas fa-sort-down"></i></a>
								</th>
								<th class="w-50">
									<a href="" data-ng-show="!sorting.username" data-ng-click="sort('username',true)">Name<i class="fas fa-sort-up"></i></a>
									<a href="" data-ng-show="sorting.username" data-ng-click="sort('username',false)">Name<i class="fas fa-sort-down"></i></a>
								</th>
								<th class="w-50">
									<a href="" data-ng-show="!sorting.email" data-ng-click="sort('email',true)">E-Mail<i class="fas fa-sort-up"></i></a>
									<a href="" data-ng-show="sorting.email" data-ng-click="sort('email',false)">E-Mail<i class="fas fa-sort-down"></i></a>
								</th>
								<th class="text-center">Login</th>
								<th class="text-center">ResetPW</th>
								<th class="text-center">ARConn</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="u in userlist | search:search:'username'" style="white-space: nowrap;" title="Created: {{u.created | date:'medium'}}">
								<td>{{u.num}}</td>
								<td>{{u.username}}</td>
								<td>{{u.email}}</td>
								
								<td class="text-center">
									<a href="/" data-ng-show="u.adminLogin">Go to SDSD</a>
									<button data-ng-click="loginUser(u.username)" class="btn btn-success btn-sm" data-ng-show="!u.adminLogin">
										<i class="fas fa-sign-in-alt"></i>
									</button>
								</td>
								<td class="text-center">
									<button data-ng-click="resetPassword(u.username)" class="btn btn-warning btn-sm">
										<i class="fas fa-key"></i>
									</button>
								</td>
								<td class="text-center">
									<a data-ng-show="u.agrirouterId" data-ng-href="/rest/arconn/{{u.username | escape}}" class="btn btn-primary btn-sm" title="{{u.agrirouterId}}">
										<i class="fas fa-save"></i>
									</a>
								</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>

			<br/>
			<br/>
			<br/>
		</div>

		<div data-ng-include="'template/footer.html'"></div>
	</body>
</html>

