<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script src="js/jquery.min.js" type="text/javascript"></script>
		<script src="js/jquery-ui.min.js" type="text/javascript"></script>
		<script src="js/angular.min.js" type="text/javascript"></script>
		<script src="js/i18n/angular-locale_de-de.js" type="text/javascript"></script>
		<script src="js/bootstrap.bundle.min.js" type="text/javascript"></script>
		<script src="js/jquery.datetimepicker.full.min.js" type="text/javascript"></script>
		<script src="js/scrollglue.js" type="text/javascript"></script>
		<script src="js/sdsd.js" type="text/javascript"></script>
		<script src="js/format.js" type="text/javascript"></script>

		<link href="css/bootstrap.css" rel="stylesheet" />
		<link href="css/jquery-ui.css" rel="stylesheet" />
		<link href="css/fontawesome.min.css" rel="stylesheet" />
		<link href="css/jquery.datetimepicker.min.css" rel="stylesheet" />

		<title>SDSD Format</title>
		<meta name="description" content="">
		<meta name="author" content="Julian Klose, Hochschule Osnabrueck">
		<link rel="shortcut icon" href="img/favicon.ico">
		<link rel="apple-touch-icon image_src" href="img/apple-touch-icon.png">
	</head>
	<body data-ng-app="sdsd" class="container">
		<div data-ng-include="'template/header.html'"></div>
		<div data-ng-include="'template/menu.html'"></div>

		<div data-ng-controller="format" data-ng-init="init()" data-ng-show="sdsd.username">
			<div class="border rounded p-2">
				<div class="form-group">
					<h5><label for="identInput">Identifier</label></h5>
					<input type="text" class="form-control" id="identInput" data-ng-model="input.class.identifier"
							placeholder="Identifier" aria-describedby="identHelp" />
					<small id="identHelp" class="form-text text-muted">The unambiguous name of the resource within its context (base class).</small>
				</div>
				<div class="form-group">
					<h5><label for="labelInput">Title</label></h5>
					<input type="text" class="form-control" id="labelInput" data-ng-model="input.class.label" 
							placeholder="Title" aria-describedby="labelHelp" />
					<small id="labelHelp" class="form-text text-muted">The title of the element.</small>
				</div>
				<div class="form-group">
					<h5><label for="commentInput">Short Description</label></h5>
					<input type="text" class="form-control" id="commentInput" data-ng-model="input.description"
							placeholder="Short Description" aria-describedby="commentHelp" />
					<small id="commentHelp" class="form-text text-muted">A short description that can be displayed in a tooltip.</small>
				</div>
				
				<datalist id="default_mimetypes">
					<option value="application/zip">ZIP</option>
					<option value="application/xml">XML</option>
					<option value="application/json">JSON</option>
					<option value="application/pdf">PDF</option>
					<option value="text/plain">TXT</option>
					<option value="text/csv">CSV</option>
					<option value="application/octet-stream">BIN</option>
					<option value="image/bmp">BMP</option>
					<option value="image/jpeg">JPEG</option>
					<option value="image/png">PNG</option>
					<option value="audio/mpeg">MP3</option>
					<option value="video/x-msvideo">AVI</option>
					<option value="video/mp4">MP4</option>
					<option value="video/x-ms-wmv">WMV</option>
				</datalist>
				
				<div class="form-group">
					<h5><label for="mimeInput">MIME-Type</label></h5>
					<input type="text" class="form-control" id="mimeInput" data-ng-model="input.mimetype"
							placeholder="MIME-TYPE" aria-describedby="mimeHelp" list="default_mimetypes" />
					<small id="mimeHelp" class="form-text text-muted">The MIME-Type of the format.</small>
				</div>
				<div class="form-group">
					<h5><label for="artypeInput">agrirouter Message Type</label></h5>
					<select class="form-control" id="artypeInput" aria-describedby="artypeHelp" data-ng-model="input.artype"
							data-ng-options="cap.type as cap.name for cap in artypes">
						<option value="" selected>No agrirouter message type</option>
					</select>
					<small id="artypeHelp" class="form-text text-muted">The message type to use when sending the a file via agrirouter.</small>
				</div>
				
				<button class="btn btn-primary" data-ng-disabled="loading" data-ng-click="save()">Save</button>
				<i class="fas fa-spinner fa-spin" data-ng-show="loading"></i>
				<div class="alert alert-danger" data-ng-show="sdsd.message" data-ng-click="sdsd.message = null;">{{sdsd.message}}</div>
				<div class="alert alert-success" data-ng-show="success">
					<a data-ng-href="{{success | relative}}">{{success}}</a>
				</div>
			</div>
			<br/>
			<form class="border rounded p-2" method="post" action="/rest/parser" enctype="multipart/form-data" data-ng-show="input.class.value">
				<input type="hidden" name="uri" value="{{input.class.value}}">
				<div class="form-group">
					<h5><label for="parserInput">Parser</label></h5>
				<div class="custom-file">
					<input type="file" class="custom-file-input" id="parserInput" name="parser" custom-on-change="parserUpload"
							aria-describedby="parserHelp">
					<label class="custom-file-label" for="parserInput">{{input.parser || "Choose file"}}</label>
				</div>
					<p class="small float-right">Ctrl + Click to choose multiple files</p>
					<small id="parserHelp" class="form-text text-muted">Upload the runnable parser.</small>
				</div>
				<div class="form-group">
					<h5><label for="parseCommandInput">Parser Command</label></h5>
					<input type="text" class="form-control" id="parseCommandInput" data-ng-model="input.parseCommand" name="parseCommand" 
							placeholder="Parser Command" aria-describedby="parseCommandHelp" />
					<small id="parseCommandHelp" class="form-text text-muted">The command to run the parser. Place <i>%path%</i> for the parser path.</small>
				</div>
				<div class="form-group">
					<h5><label for="testCommandInput">Test Command</label></h5>
					<input type="text" class="form-control" id="testCommandInput" data-ng-model="input.testCommand" name="testCommand" 
							placeholder="Test Command" aria-describedby="testCommandHelp" />
					<small id="testCommandHelp" class="form-text text-muted">The command to run the parser in test mode. Place <i>%path%</i> for the parser path.</small>
				</div>
				
				<button type="submit" class="btn btn-primary" data-ng-disabled="loading">Upload Parser</button>
				<i class="fas fa-spinner fa-spin" data-ng-show="loading"></i>
			</form>
			
			<br/>
			<br/>
			<br/>
		</div>

		<div data-ng-include="'template/footer.html'"></div>
	</body>
</html>