<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
	<title>SDSD Wikinormia Draft Mode</title>

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="Andreas Schliebitz & Noah Große Starmann, Hochschule Osnabrück" />

	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/i18n/angular-locale_de-de.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/jquery.datetimepicker.full.min.js"></script>
	<script src="js/scrollglue.js"></script>
	<script src="js/sdsd.js"></script>
	<script src="js/wikinormia-draftmode.js"></script>

	<link href="css/bootstrap.css" rel="stylesheet" />
	<link href="css/jquery-ui.css" rel="stylesheet" />
	<link href="css/fontawesome.min.css" rel="stylesheet" />
	<link href="css/jquery.datetimepicker.min.css" rel="stylesheet" />
	<link href="css/wikinormia.css" rel="stylesheet" />
	<link href="css/wikinormia-draftmode.css" rel="stylesheet">

	<link rel="shortcut icon" href="img/favicon.ico" />
	<link rel="apple-touch-icon image_src" href="img/apple-touch-icon.png" />
</head>

<body data-ng-app="sdsd" class="container pb-0">
	<div data-ng-include="'template/header.html'"></div>
	<div data-ng-include="'template/menu.html'"></div>

	<div data-ng-controller="wikinormia-draftmode" data-ng-init="init()" data-ng-show="sdsd.username">

		<div data-ng-show="formatEdit">
			<div class="card">

				<form class="card-body" id="createFormatForm" novalidate="novalidate">
					<h6 class="float-right">Wikinormia Draft Mode</h6>
					<h3 class="card-title">Create Format</h3>

					<div class="form-group">
						<h5><label for="formatTitle">Title</label></h5>
						<input id="formatTitle" data-ng-model="formatData.label" class="form-control " placeholder="Title" type="text" required="required" data-ng-change="autoCompleteIdentifier('format');" />
						<small class="form-text text-muted">The title of the element.</small>
					</div>

					<div class="form-group">
						<h5><label for="formatIdentifier">Identifier</label></h5>
						<input id="formatIdentifier" data-ng-model="formatData.identifier" class="form-control " placeholder="Identifier" type="text" required="required" />
						<small class="form-text text-muted">The unambiguous name of the resource within its context (base class).</small>
					</div>

					<div class="form-group">
						<h5><label for="formatShortDescription">Short Description</label></h5>
						<input id="formatShortDescription" data-ng-model="formatData.shortDescription" class="form-control " placeholder="Short Description" type="text" required="required" />
						<small class="form-text text-muted">A short description that can be displayed in a tooltip.</small>
					</div>

					<datalist id="default_mimetypes">
						<option value="application/zip">ZIP</option>
						<option value="application/xml">XML</option>
						<option value="application/json">JSON</option>
						<option value="application/pdf">PDF</option>
						<option value="text/plain">TXT</option>
						<option value="text/csv">CSV</option>
						<option value="application/octet-stream">BIN</option>
						<option value="image/bmp">BMP</option>
						<option value="image/jpeg">JPEG</option>
						<option value="image/png">PNG</option>
						<option value="audio/mpeg">MP3</option>
						<option value="video/x-msvideo">AVI</option>
						<option value="video/mp4">MP4</option>
						<option value="video/x-ms-wmv">WMV</option>
					</datalist>

					<div class="form-group">
						<h5><label for="mimeInput">MIME-Type</label></h5>
						<input type="text" class="form-control" id="mimeInput" data-ng-model="formatData.mimeType" placeholder="MIME-TYPE" aria-describedby="mimeHelp" list="default_mimetypes" required="required" />
						<small id="mimeHelp" class="form-text text-muted">The MIME-Type of the format.</small>
					</div>

					<div class="form-group">
						<h5><label for="artypeInput">agrirouter Message Type</label></h5>
						<select class="form-control" id="artypeInput" aria-describedby="artypeHelp" data-ng-model="formatData.artype" data-ng-options="cap.type as cap.name for cap in artypes">
							<option value="" selected="selected">No agrirouter message type</option>
						</select>
						<small id="artypeHelp" class="form-text text-muted">The message type to use when sending the a file via agrirouter.</small>
					</div>

					<div class="text-center">
						<button class="btn btn-success" type="submit" value="Save" data-ng-click="submitForm('#createFormatForm', createOrUpdateDraftFormat)"><i class="fa fa-save"></i> Save</button>
					</div>
				</form>

			</div>
		</div>

		<!-- Create Content -->

		<div data-ng-show="formatId !== 'new' && !formatEdit">

			<h6 class="float-right">Wikinormia Draft Mode</h6>

			<h3>
				{{formatData.label}}
				<span class="ml-2">
					<button type="button" class="btn btn-success btn-sm" data-ng-click="publishDraftFormat()"><i class="fa fa-globe"></i> Publish</button>
					<button class="btn btn-warning btn-sm" data-ng-click="editSelectedDraftFormat()"><i class="fa fa-edit"></i> Edit</button>
					<button type="button" class="btn btn-danger btn-sm" data-ng-click="deleteSelectedDraftFormat()"><i class="fa fa-trash"></i> Delete</button>
				</span>
			</h3>

			<form id="classDataForm" novalidate="novalidate">

				<div class="row">
					<div class="col-8 pr-1">
						<div class="card">
							<div class="card-body">
								<div class="form-group">
									<h5><label for="classTitle">Title</label></h5>
									<input id="classTitle" data-ng-model="familyTree[0].label" class="form-control" placeholder="Title" type="text" required="required" data-ng-change="autoCompleteIdentifier('class');" />
									<small class="form-text text-muted">The title of the element.</small>
								</div>

								<div class="form-group">
									<h5><label for="classIdentifier">Identifier</label></h5>
									<input id="classIdentifier" data-ng-model="familyTree[0].identifier" class="form-control" placeholder="Identifier" type="text" required="required" />
									<small class="form-text text-muted">The unambiguous name of the resource within its context (base class).</small>
								</div>

								<div class="form-group">
									<h5><label for="classShortDescription">Short Description</label></h5>
									<input id="classShortDescription" data-ng-model="familyTree[0].shortDescription" class="form-control" placeholder="Short Description" type="text" required="required" />
									<small class="form-text text-muted">A short description that can be displayed in a tooltip.</small>
								</div>

								<!-- Subclass of -->

								<div class="form-group">
									<h5 class="mb-2">
										<button type="button" class="btn btn-outline-success" data-ng-click="addItem(familyTree[0].base)">
											<i class="fas fa-plus"></i>
										</button>
										Subclass of
									</h5>
									<div class="input-group mb-1" data-ng-repeat="b in familyTree[0].base">
										<div class="input-group-prepend">
											<button type="button" class="btn btn-outline-danger" data-ng-click="deleteSubclassItem(familyTree[0].base, b)">
												<i class="fas fa-times"></i>
											</button>
										</div>

										<select class="form-control" data-ng-change="getFamilyTreeForClasses()" data-ng-model="b.value">
											<optgroup label="{{format.label}}" data-ng-repeat="format in autocomplete.types">
												<option label="{{class.label}}" value="{{class.value}}" data-ng-repeat="class in format.list"></option>
											</optgroup>
										</select>
									</div>
									<small class="form-text text-muted">Set base types to create a more specific subtype.</small>
								</div>

								<!-- Part of -->

								<div class="form-group">
									<h5 class="mb-2">
										<button type="button" class="btn btn-outline-success" data-ng-click="addItem(familyTree[0].partOf)">
											<i class="fas fa-plus"></i>
										</button>
										Part of
									</h5>

									<div class="input-group mb-1" data-ng-repeat="part in familyTree[0].partOf">
										<div class="input-group-prepend">
											<button type="button" class="btn btn-outline-danger" data-ng-click="deleteItem(familyTree[0].partOf, part)">
												<i class="fas fa-times"></i>
											</button>
										</div>

										<select class="form-control" data-ng-model="part.value">
											<optgroup label="{{format.label}}" data-ng-repeat="format in autocomplete.types">
												<option label="{{class.label}}" value="{{class.value}}" data-ng-repeat="class in format.list"></option>
											</optgroup>
										</select>
									</div>
									<small class="form-text text-muted">Set a parent type of which this element is a part of.</small>
								</div>

								<!-- Attributes -->

								<h5>Attributes</h5>

								<ul class="nav nav-tabs" data-ng-if="familyTree[0].label">
									<li class="nav-item" data-ng-repeat="class in familyTree">
										<a href="javascript:;" data-ng-click="changeClassTab(class.uri)" class="nav-link {{$index == 0 ? 'active' : ''}}" data-toggle="tab" role="tab" aria-controls="settings" aria-selected="false">{{class.label}}</a>
									</li>
								</ul>

								<table class="table table-responsive-sm dense-tds">
									<thead>
										<tr>
											<th class="pl-0">
												<button type="button" data-ng-if="familyTree[0].label && (!activeClassUri || (activeClassUri == 'self' && !classId) || (activeClassUri == classId))" class="btn btn-outline-success" data-ng-click="addItem(familyTree[0].attributes);">
													<i class="fas fa-plus"></i>
												</button>
											</th>
											<th>Identifier</th>
											<th>Label</th>
											<th>Type</th>
											<th>Unit</th>
										</tr>
									</thead>
									<tbody data-ng-repeat="class in familyTree" data-ng-show="(class.uri == 'self' && !activeClassUri) || (class.uri == activeClassUri)">
										<tr data-ng-repeat="a in class.attributes">
											<td class="pl-0">
												<button type="button" data-ng-if="$parent.$index == 0" class="btn btn-outline-danger" data-ng-click="deleteItem(class.attributes, a)">
													<i class="fas fa-times"></i>
												</button>
											</td>
											<td>
												<input data-ng-disabled="$parent.$index != 0" class="form-control" required="required" data-ng-model="a.identifier" placeholder="Identifier" />
											</td>
											<td>
												<input data-ng-disabled="$parent.$index != 0" class="form-control" required="required" data-ng-model="a.label" placeholder="Label" />
											</td>
											<td>
												<div class="input-group">
													<div class="input-group-prepend">
														<div class="input-group-text">
															<input data-ng-disabled="$parent.$index != 0" type="checkbox" data-ng-model="a.literal" aria-label="Link or Literal" />
														</div>
													</div>

													<select data-ng-disabled="$parent.$index != 0" data-ng-show="a.literal" class="form-control" data-ng-model="a.type" data-ng-options="literal.value as literal.label for literal in autocomplete.literals">
													</select>

													<select data-ng-disabled="$parent.$index != 0" data-ng-show="!a.literal" class="form-control" data-ng-model="a.type">
														<optgroup label="{{format.label}}" data-ng-repeat="format in autocomplete.types">
															<option label="{{class.label}}" value="{{class.value}}" data-ng-repeat="class in format.list"></option>
														</optgroup>
													</select>
												</div>
											</td>
											<td>
												<select data-ng-disabled="$parent.$index != 0" id="attributeType" class="form-control" data-ng-model="a.unit">
													<optgroup label="{{category.label}}" data-ng-repeat="category in units">
														<option label="{{unit.label}}" value="{{unit.label}}" data-ng-repeat="unit in category.list"></option>
													</optgroup>
												</select>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<!-- Classes -->

					<div class="col-4 pl-1">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">Classes</h5>
								<div class="mb-3">
									<button type="button" class="btn btn-success btn-sm" data-ng-click="submitForm('#classDataForm', createOrUpdateDraftClass)"><i class="fa fa-save"></i> Save</button>
									<button type="button" class="btn btn-warning btn-sm" data-ng-click="discardDraftClassData()"><i class="fa fa-eraser"></i> Discard</button>
									<button type="button" class="btn btn-danger btn-sm" data-ng-click="deleteSelectedDraftClass()"><i class="fa fa-trash"></i> Delete</button>
								</div>
								<input class="search-input" type="text" data-ng-model="inputClassSearchText" placeholder="Search class of selected format">
								<div class="list-group list-group-flush overflow-auto">
									<ul class="list-group list-group-flush">
										<a href="javascript:;" class="list-group-item list-group-item-action" data-ng-class="classId === savedClass.value ? 'active' : ''" data-ng-click="getDraftClassData(savedClass.value)" data-ng-repeat="savedClass in savedClasses | filter:inputClassSearchText">{{savedClass.label}}</a>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Instances -->

				<div class="row mt-2">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">Instances</h5>
								With instances it should be noted that only a <code>PartOf</code> relationship to another instance may exist if this relationship also exists among the classes of the instances.
								<div class="mb-2"></div>
								<table class="table table-responsive dense-tds">
									<thead>
										<tr>
											<th class="pl-0">
												<button type="button" class="btn btn-outline-success" data-ng-click="addInstanceItem()">
													<i class="fas fa-plus"></i>
												</button>
											</th>
											<th>Identifier</th>
											<th>Label</th>
											<th class="text-nowrap text-center" data-ng-repeat="c in familyTree">{{c.label}}</th>
											<th class="text-nowrap text-center" data-ng-if="familyTree[0].partOf.length && familyTree[0].partOf[0].value">Part of</th>
										</tr>
									</thead>
									<tbody>
										<tr data-ng-repeat="(iIndex, i) in familyTree[0].instances">
											<td class="pl-0">
												<button type="button" class="btn btn-outline-danger" data-ng-click="deleteItem(familyTree[0].instances, i)">
													<i class="fas fa-times"></i>
												</button>
											</td>
											<td>
												<input class="form-control" required="required" type="text" data-ng-model="i.identifier" placeholder="Instance identifier" />
											</td>
											<td>
												<input class="form-control" required="required" type="text" data-ng-model="i.label" placeholder="Instance label" />
											</td>
											<td class="text-center" data-ng-repeat="(cIndex, c) in familyTree">
												<button type="button" data-ng-click="initInstanceMember(iIndex, cIndex)" data-ng-disabled="!i.identifier || !i.label" class="text-nowrap btn btn-warning" data-toggle="modal" data-target="#instance-{{iIndex}}-class-{{cIndex}}">
													<i class="fa fa-edit"></i> Edit
												</button>

												<!-- Instance Attributes Modal -->

												<div class="modal fade" id="instance-{{iIndex}}-class-{{cIndex}}" tabindex="-1" role="dialog">
													<div class="modal-dialog modal-lg" role="document">
														<div class="modal-content">
															<div class="modal-header">
																<h5 class="modal-title">Attributes of {{c.label}}</h5>
																<button type="button" class="close" data-dismiss="modal">
																	<span>&times;</span>
																</button>
															</div>
															<div class="modal-body">
																<table class="table table-responsive-lg dense-tds text-left">
																	<thead>
																		<tr>
																			<th>Identifier</th>
																			<th>Label</th>
																			<th>Type</th>
																			<th></th>
																			<th>Value</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr data-ng-repeat="a in c.attributes">
																			<td>{{a.identifier}}</td>
																			<td>{{a.label}}</td>
																			<td><a href="{{a.type | relative}}" target="_blank">{{convTypeUri(a.type)}}</a></td>
																			<td>
																				<button type="button" class="btn btn-outline-success" data-ng-click="addItem(familyTree[0].instances[iIndex].attributes[c.uri][a.identifier].value, '');getAutocompleteInstancesForAttribute(a);">
																					<i class="fas fa-plus"></i>
																				</button>
																			</td>
																			<td>
																				<div class="input-group mb-1" data-ng-repeat="v in familyTree[0].instances[iIndex].attributes[c.uri][a.identifier].value track by $index">
																					<div class="input-group-prepend">
																						<button type="button" class="btn btn-outline-danger" data-ng-click="deleteItem(familyTree[0].instances[iIndex].attributes[c.uri][a.identifier].value, v)">
																							<i class="fas fa-times"></i>
																						</button>
																					</div>
																					<input data-ng-if="a.literal" class="form-control" type="text" data-ng-model="familyTree[0].instances[iIndex].attributes[c.uri][a.identifier].value[$index]" placeholder="Attribute value" />
																					<input data-ng-if="!a.literal" class="form-control" type="text" data-ng-model="familyTree[0].instances[iIndex].attributes[c.uri][a.identifier].value[$index]" placeholder="Attribute value" data-ng-autocomplete="autocomplete.instances.attributes[a.type].list" />
																				</div>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>

											</td>
											<td>
												<button type="button" class="text-nowrap btn btn-warning" data-ng-if="familyTree[0].partOf.length && familyTree[0].partOf[0].value" data-ng-disabled="!i.identifier || !i.label" data-ng-click="getAutocompleteInstancesForPartOf()" data-toggle="modal" data-target="#instance-{{iIndex}}-partof">
													<i class="fa fa-edit"></i> Edit
												</button>

												<!-- Instance PartOf Modal -->

												<div class="modal fade" id="instance-{{iIndex}}-partof" tabindex="-1" role="dialog">
													<div class="modal-dialog modal-lg" role="document">
														<div class="modal-content">
															<div class="modal-header">
																<h5 class="modal-title">{{i.label}} is part of ...</h5>
																<button type="button" class="close" data-dismiss="modal">
																	<span>&times;</span>
																</button>
															</div>
															<div class="modal-body">
																<table class="table table-responsive-lg dense-tds text-left">
																	<thead>
																		<tr>
																			<th class="pl-0">
																				<button type="button" class="btn btn-outline-success" data-ng-disabled="!instancePartOfsExists()" data-ng-click="addItem(familyTree[0].instances[iIndex].partOf)">
																					<i class="fas fa-plus"></i>
																				</button>
																			</th>
																			<th>Parent value</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr data-ng-repeat="part in familyTree[0].instances[iIndex].partOf">
																			<td class="pl-0">
																				<button type="button" class="btn btn-outline-danger" data-ng-click="deleteItem(familyTree[0].instances[iIndex].partOf, part)">
																					<i class="fas fa-times"></i>
																				</button>
																			</td>
																			<td>
																				<input type="hidden" data-ng-model="part.identifier" value="{{i.identifier}}" />
																				<select class="form-control mb-1" data-ng-model="part.value">
																					<optgroup data-ng-if="pEntry.list.length" label="{{pEntry.label}}" data-ng-repeat="(pUri, pEntry) in autocomplete.instances.partOf">
																						<option label="{{pObj.label}}" value="{{pObj.value}}" data-ng-repeat="pObj in pEntry.list"></option>
																					</optgroup>
																				</select>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>

											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<br />
	<div data-ng-include="'template/footer.html'"></div>
</body>

</html>
