<div class="row">
	<div class="col-md-12">
		<ul class="nav">
			<li class="nav-item">
				<a class="nav-link" href="/"><i class="fa fa-home"></i> Home</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="#"><i class="fas fa-shapes" aria-hidden="true"></i> Apps</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/content.html"><img style="height: 1em;" src="/img/rdf-blue.png"/> Smart Data Browser</a>
					<a class="dropdown-item" href="/validator.html"><i class="fas fa-file-medical-alt"></i> Validator</a>
					<a class="dropdown-item" href="/simulator.html"><i class="fas fa-magic"></i> Simulator</a>
					<a class="dropdown-item" href="/map.html"><i class="fas fa-map-marked-alt"></i> Map</a>
					<a class="dropdown-item" href="/dashboard.html"><i class="fa fa-th" aria-hidden="true"></i> Dashboard</a>
					<a class="dropdown-item" href="/feldgrenzen.html"><i class="fas fa-file-medical-alt"></i> Fields</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/services.html"><i class="fas fa-handshake"></i> Services</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/wikinormia.html"><i class="fab fa-wikipedia-w"></i> Wikinormia</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/admin.html"><i class="fas fa-key"></i> Admin</a>
			</li>
		</ul>
	</div>
</div>
<hr />